<div class="container">
    <div class="section">
        <h4>Get In Touch</h4>
        <p>Come find me on Twitter, Github, LinkedIn and Google+. <span ng-show="!CondensedMode">If you have any questions, send an email to me below
            and I'll message you back within the next couple days.</span> Resumes and references are available upon request. </p>
    </div>

    <div class="row">

        <div class="col s12">
            <div class="card-panel">
                <div class="valign-wrapper row">
                    <!--<div class="col s2">
                        <img src="images/yuna.jpg" alt="" class="circle responsive-img">
                    </div>-->
                    <div class="col s12 m6 offset-m1 offset-l1">
                        <!--<div class="col m2 l1">

                        </div>-->
                        <!--<div class="col m10 l5">-->
                            <span class="black-text center-on-small-only">
                                <div class="row">
                                    Ben Soer
                                </div>
                                <div class="row">
                                    <i class="tiny mdi-hardware-phone-android">604.842.2274</i>
                                </div>
                                <div class="row">
                                    <i class="tiny mdi-communication-email">ben@soernet.ca</i>
                                </div>
                            </span>
                        <!--</div>-->
                    </div>

                    <div class="col m6 hide-on-small-and-down">
                        <div class="row">
                            <div class="col m3">
                                <a style="color:black;" href="https://github.com/bensoer" target="_blank"><li class="fa-3x fa fa-github"></li></a>
                            </div>
                            <div class="col m3">
                                <a style="color:black;" href="https://ca.linkedin.com/pub/ben-soer/b0/541/24a" target="_blank"><li class="fa-3x fa fa-linkedin"></li></a>
                            </div>
                            <div class="col m3">
                                <a style="color:black;" href="https://plus.google.com/105397548157818804415/about" target="_blank"><li class="fa-3x fa fa-google-plus"></li></a>
                            </div>
                            <div class="col m3">
                                <a style="color:black;" href="https://twitter.com/BensPlaylist" target="_blank"><li class="fa-3x fa fa-twitter"></li></a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="row" ng-show="!CondensedMode">
        <div class="card-panel">
            <form class="col s12">
                <div class="row">
                    <div class="input-field col s12 m6">
                        <i class="mdi-social-person prefix"></i>
                        <input id="email_sender" type="email" class="validate" ng-model="email.sender">
                        <label for="email_sender">Your Email</label>
                    </div>
                    <div class="input-field col s12 m6">
                        <input id="email_subject" type="text" class="validate" ng-model="email.subject">
                        <label for="email_subject">Subject</label>
                    </div>
                </div>

                <div class="row">
                    <form class="col s12">
                        <div class="row">
                            <div class="input-field col s12">
                                <i class="mdi-editor-mode-edit prefix"></i>
                                <textarea id="email_message" class="materialize-textarea validate" ng-model="email.message"></textarea>
                                <label for="email_message">Message</label>
                            </div>
                        </div>
                    </form>
                </div>

                <div class="row">
                    <div class="col s1 offset-s7" >
                        <div class="preloader-wrapper small active" >
                            <div class="spinner-layer spinner-blue-only">
                                <div class="circle-clipper left">
                                    <div class="circle" ng-show="emailLoader"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                     <div class="col s4 ">
                        <button class="btn waves-effect waves-light purple darken-2" type="submit"  ng-click="sendEmail()">Send
                            <i class="mdi-content-send right"></i>
                        </button>
                    </div>


                </div>
                <div class="row">
                    <div class="col s4">
                        <p class="purple-text text-darken-3">{{ btnClickMessage }}</p>
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>